
@import url("https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato");
:root {
  --primary-color: #1D3C60;
  --secondary-color: #5D3FD3;
  --accent1-color: #E63946;
  --accent2-color: #A8DADC;
  --background: #121212;
  --text: #F1F1F1;

  --headline-color-on-light: #0B0C2A;
  --headline-color-on-dark: #F1F1F1;

  --heading-font: 'Poppins', sans-serif;
  --paragraph-font: 'Roboto', sans-serif;

  --paragraph-color-on-light: #333333;
  --paragraph-color-on-dark: #F9F9F9;
  --paragraph-background-color: #1D3C60;

  --nav-background-color: #0B0C2A;
  --nav-link-color: #F1F1F1;
  --nav-hover-link-color: #A8DADC;
  --nav-hover-background-color: #1D3C60;
}