
@import url("https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato");
:root {
  --primary-color: #2C3E50;
  --secondary-color: #3E5C76;
  --accent1-color: #FF6B6B;
  --accent2-color: #A8DADC;
  --background: #F1F1F1;
  --text: #1E1E2F;
  
  --headline-color-on-light: #2C3E50;
  --headline-color-on-dark: #F1F1F1;

  --heading-font: 'Poppins', sans-serif;
  --paragraph-font: 'Roboto', sans-serif;

  --paragraph-color-on-light: #333;
  --paragraph-color-on-dark: #F1F1F1;
  --paragraph-background-color: #2C3E50;

  --nav-background-color: #3E5C76;
  --nav-link-color: #F1F1F1;
  --nav-hover-link-color: #1E1E2F;
  --nav-hover-background-color: #A8DADC;
}
